HW_Solution/gcp_taxi_parent.yaml
id: gcp_taxi_parent
namespace: company.team

inputs:
  - id: taxi
    type: SELECT
    values: [yellow, green]
    defaults: green
  - id: years
    type: ARRAY
    itemType: STRING
    defaults: ["2019", "2020", "2021"]
  - id: months
    type: ARRAY
    itemType: STRING
    defaults: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

tasks:
  - id: iterate_years
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ inputs.years }}"
    tasks:
      - id: iterate_months
        type: io.kestra.plugin.core.flow.ForEach
        values: "{{ inputs.months }}"
        tasks:
          - id: call_child_flow
            type: io.kestra.plugin.core.flow.Subflow
            flowId: gcp_taxi_child
            namespace: company.team
            wait: true
            allowFailure: true
            inputs:
              taxi: "{{ inputs.taxi }}"
              year: "{{ parent.taskrun.value }}"
              month: "{{ taskrun.value }}"

      # ALIGNMENT FIXED: These run once per year, after all months finish
      - id: calculate_yearly_total
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        inputFiles:
          data.json: "{{ outputs.call_child_flow | json }}"
          main.py: |
            import json
            import sys

            def deep_sum(obj, key):
                """Recursively find all instances of a key and sum their values."""
                total = 0
                if isinstance(obj, dict):
                    for k, v in obj.items():
                        if k == key and v is not None:
                            try:
                                total += int(v)
                            except:
                                pass
                        else:
                            total += deep_sum(v, key)
                elif isinstance(obj, list):
                    for item in obj:
                        total += deep_sum(item, key)
                return total

            try:
                with open('data.json') as f:
                    data = json.load(f)
                
                # LOG THE DATA: This helps us see the structure if it fails again
                # sys.stderr.write(f"DEBUG DATA: {json.dumps(data)}\n")

                total = deep_sum(data, 'row_count')
                
                # Ensure no spaces at the start of the line
                sys.stdout.write('::{"outputs": {"yearly_total": ' + str(total) + '}}::\n')
                sys.stdout.flush()
            except Exception as e:
                sys.stderr.write(f"PYTHON ERROR: {str(e)}\n")
                sys.stdout.write('::{"outputs": {"yearly_total": 0}}::\n')
        commands:
          - python main.py

      - id: yearly_total_log
        type: io.kestra.plugin.core.log.Log
        message: |
          ---------------------------------------
          Taxi Type: {{ inputs.taxi }}
          YEARLY REPORT: {{ taskrun.value }}
          Total Rows: {{ outputs.calculate_yearly_total[taskrun.value].vars.yearly_total }}
          --------------------------------------- 

pluginDefaults:
  - type: io.kestra.plugin.core.flow.Subflow
    values:
      transmitFailed: true
